.web{
    &_header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &_logo{
        max-height: 54px;
        height: 7vh;
    }
    &_navigation{
        &-list{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
        }
        &-item{
            list-style-type: none;
            margin-right: 80px;
            &:last-child{
                margin-right: 0;
            }
            @media #{$breakpoint-md}{
                margin-right: 10px;
            }
            &-link{
                text-decoration: none;
                color: $white;
                font-size: 16px;
                font-family: $ALKSanetfont;
                transition: all .3s;
                white-space: nowrap;
                @media #{$breakpoint-md}{
                    font-size: 12px;
                }
                &.active{
                    color: $component-color1;
                }
                &:hover{
                    text-decoration: none;
                    color: $component-color1;
                }
                .logIn-icon{
                    width: 42px;
                    height: 42px;
                    &-bg{
                        transition: .3s;
                    }
                    &-content{
                        transition: .3s;
                    }
                    &:hover{
                        transition: .3s;
                        .logIn-icon-bg{
                            fill: $component-color1;
                        }
                        .logIn-icon-content{
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}