.navbar {
  .is-mobile {
    display: none;
  }
  &-start {
    margin: 0 auto;
    .is-active span:after {
      content: "";
      display: inline-block;
      background: #f7cf43;
      height: 2px;
      width: 60px;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &-end {
    margin: 0;
    .user {
      height: 48px;
      width: 48px;
      border-radius: 100%;
      padding-left: 0;
      padding-right: 0;
      border-color: #fff;
      box-shadow: 2px -1px 12px -4px rgba(247, 207, 67, 1);
      font-size: 32px;
    }
    .navbar-dropdown {
      left: -140%;
      top: 80%;
      box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.4);
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    &-item img {
      max-height: 2.375rem;
    }
    &-burger:hover {
      background-color: rgba(0, 0, 0, 0);
      color: #7fd1d8;
    }

    .navbar-brand {
      flex-direction: row-reverse;
      justify-content: space-between;
      .burger {
        margin: 0;
      }
    }
    &-start {
      .is-active span:after {
        display: none;
      }
    }
    &-end {
      display: none;
      min-width: 136px;
      .user {
        width: 32px;
        height: 32px;
        font-size: 22px;
      }
      .navbar-item {
        position: relative;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
        &.is-hoverable:hover .navbar-dropdown {
          display: block;
        }
      }
    }
    .is-mobile {
      display: flex;
      min-width: 100px;
      align-items: stretch;
      justify-content: center;
    }

    &-dropdown {
      position: absolute;
      display: none;
      background: #fff;
    }
    &-link:hover {
      background-color: #fff;
    }
    &-menu.is-active {
      position: absolute;
      left: 5%;
      top: 80%;
    }
  }
}
