$main-bg: #17191A;
$white: #FFFFFF;
$component-color1: #7FD1D8;
$component-color2: #BADFED66;
$component-color3: #E3FDFF;
$component-color4: #C5CBCD;
$component-color5: #242526;
$component-color6: #7FD1D866;
$component-color7: #66CCCC;


