@font-face {
  font-family: "ALKSanet";
  src: url("../fonts/ALKSanet.eot");
  src: url("../fonts/ALKSanet.eot?#iefix") format("embedded-opentype"), url("../fonts/ALKSanet.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DejaVuSans";
  src: url("../fonts/DejaVuSans.eot");
  src: url("../fonts/DejaVuSans.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}