.about-project{
  font-family:'ALKSanet'; 
  font-size:18px;
  position:relative; 
  
  p{
    font-family:'DejaVu Sans';
    margin-top: 1em; 
    color:#E3FDFF; 
  }
}
.video{
    position:relative;
  }

.play{
    position:absolute;
    bottom:10em;
    right:14em;
  }

.link{
  color: #7FD1D8;
  &:hover{
    text-decoration:none;
  }
}


.chatbots{
  margin-top:2em; 
  margin-right:7em;
}

.name-container{
  margin-top:1em;
}
.name{
  margin-left:15px;
  font-family:'DejaVu Sans';
}
.btn {
    margin-left: 10px;
    margin-right: 10px;
  }
.tutorial{
  font-size: 16px;
    font-family: ALKSanet;
    margin-left: 45rem;
}

.anima-button{
  width: 342px;
  height: 36px;
  box-shadow: 2px 2px 8px #7FD1D8;
  border-radius: 15px;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  color: white;
  background: #242526;
  margin-top: 3em;
  font-family:'ALKSanet';
}

.speak{
  margin-top:1.5em;
}
.box-text{
  display:block;
  color:white;
}
.footer{
  margin-top: 5rem;
}

@media (min-width:991px) and (max-width: 1190.98px){
.tutorial{
  margin-left: 35rem;
}
.mg-left{
  margin-left:0 !important;
}
.about-project{
  margin-left:6rem;
}
}
@media only screen and (max-width: 990.98px){
  .about-project{
    right:0;
  }

  .link{
    color:#FFF;
  }
  .anima-button{
    width: 50%;
    margin: 0 15px 3rem 15px;
    margin-top: 8rem;
    margin-left: 0!important;
    font-size: 12px;
  } 
  .tutorial{
    margin-left:27rem;
    margin-top: 2rem;
  } 
  
  .for-margin{
    margin-right:30px;
  }
  .speak-button{
    font-size:12px !important;
  }
}

@media only screen and (max-width: 767.98px){
  .about-project{
    right:0;
  }

  .link{
    color:#FFF;
  }
  .anima-button{
    width: 100%;
    margin: 0 15px 3rem 15px;
    margin-top: 8rem;
    margin-left: 0!important;
    font-size: 12px;
  } 
  .tutorial{
    margin-left:8rem;
    margin-top: 2rem;
  } 
}

@media only screen and (max-width: 479.98px){
  .webheader{
    width:100% !important;
  }
 .about-project{
  font-size: 16px;
  right: 0;
}
 p {
  font-size: 14px;
  margin: 0 auto!important;
 }
 .link{
  color: #FFF;
  font-size: 16px;
 }

.anima-button{
  margin-top: 100px;
}

.tutorial{
  margin-left:8rem;
  margin-top: 2rem;
}
.for-margin{
  margin-right:50px;
  margin-left:0!important;
}
 }


