
.error{
    margin-top:3rem;
}



.error-subtitle{
    font-family:"DejaVu Sans";
    top: 2rem;
    right: 1rem;
    position: relative;
}

.fly-error{
    position: absolute;
    bottom: 1vh;
    width:60px;
    height:52px;
}

.error-button{
    width: 156px;
    height: 34px;
    box-shadow: 2px 2px 8px #7FD1D8;
    border-radius: 15px;
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    color:#7FD1D8;
    background: #242526;
    font-size:14px;
    font-family:'ALKSanet';
    text-decoration:none;
    cursor:pointer;
    margin-top: 10vh;
    margin-left: 20vh !important;

}

.error-button:focus{
    box-shadow: 2px 2px 8px #7FD1D8;
    border-radius: 15px;
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    color:#7FD1D8;
    background: #242526;

}

.error-button:hover{
    background:#7FD1D8;
    color: #fffF;
    cursor:pointer;
}


@media only screen and (max-width: 767.98px){
    .error{
        width:342px;
        height:160px;
    }
    .error-subtitle{
        width:120%;
        left: 3rem;
    }
    .fly-error{
        bottom:7rem;
        right:14rem;
    }
    .error-button{
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 479.98px){
    .web_header{
        width:140%;
    }
    .fly-error{
        right:7rem;
    }
    .error-subtitle{
        width:200%;
    }
    .error-button{
        margin-right:10rem;
    }


}
