.main_page {
    &-top_info_cont {
        font-size: 16px;
        font-family: DejaVuSans;
        margin-top: 7rem;
    }
    &-video_img {
        height: 50.6vh;
    }
    &-video_title_item {
        font-size: 16px;
        font-family: ALKSanet;
        text-align: end;
    }
    &-top_btn_cont {
        display: flex;
        justify-content: center;
        align-items: center; 
        width:  25vw;
        height: 5.2vh;
        background: #242526;
        color: #7fd1d8;
        box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.6);
        border-radius: 5vh;
        font-size: 2vh;
        transition: 0.3s;
        line-height: 2vh;
    }
    &-top_btn_item {
        margin: 0;
        font-family: ALKSanet;
    }
    &-cont {
        align-items: flex-end;
        margin-left: 4vh;
        a {
            text-decoration: none;
        }
    }
    &-img {
       height: 64.16vh;
       margin: auto; 
    }
    &-btn_cont {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6vh;
    }
    &-btn_item {
        display: flex;
        justify-content: center;
        align-items: center; 
        font-family: ALKSanet;
        width:  11.4vw;
        height: 5.2vh;
        background: #242526;
        color: #7fd1d8 !important;
        box-shadow: 2px 2px 8px rgba(127, 209, 216, 0.6);
        border-radius: 5vh;
        font-size: 2vh;
        transition: 0.3s;
        line-height: 2vh;
    }
    &-btn_item:hover {
        background: #ffffff;
        color: #7fd1d8 !important;
        box-shadow: 2px 2px 8px rgba(248, 210, 69, 0.4);  
    }
}