.web_password-box {
  padding: 91px 0 0 0;
}
.web_password-container {
  max-width: 37% !important;
}
.web_password-title {
  color: #7FD1D8;
  font-size: 24px;
  font-family: ALKSanet;
  padding-bottom: 1rem;
}
.web_password input[type=email], .web_password input[type=password] {
  font-family: DejaVuSans;
  width: 100%;
  padding: 7px 20px;
  margin: 13px 0;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 2rem;
  color: #fff;
  background-color: #242526;
  box-shadow: 2px 2px 8px #7FD1D866;
  outline: 0 none;
}
.web_password input[type=email]::placeholder, .web_password input[type=password]::placeholder {
  color: white;
  font-size: 16px;
}
.web_password-submit-cancel {
  font-family: ALKSanet;
  font-size: 14px;
  color: #DC6C85;
  background-color: #242526;
  box-shadow: 2px 2px 8px #7FD1D866;
  padding: 5px 50px;
  float: right;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  outline: 0 none;
  margin-top: 2rem;
}
.web_password-submit-cancel:hover {
  color: #fff;
  background-color: #DC6C85;
  text-decoration: none;
}
.web_password-submit-login {
  font-family: ALKSanet;
  font-size: 14px;
  color: #7FD1D8;
  background-color: #242526;
  box-shadow: 2px 2px 8px #7FD1D866;
  padding: 5px 50px;
  float: right;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  outline: 0 none;
  margin-top: 2rem;
}
.web_password-submit-login:hover {
  color: #fff;
  background-color: #7FD1D8;
  text-decoration: none;
}