.web_auth {
    &-box {
        padding: 52px 0 0 0;
    }
    &-container {
        max-width: 37%!important;
    }
    &-title {
        font-size: 24px;
        font-family: ALKSanet;   
        padding-bottom: 1rem;   
    }
    &-active {
        color: #7FD1D8;
    }
    &-login, &-registration{
        cursor: pointer;
    }
    input[type=email], input[type=password] {
        font-family: DejaVuSans;
        width: 100%;
        padding: 7px 20px;
        margin: 13px 0;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 2rem;
        color: #fff;
        background-color: #242526;
        box-shadow: 2px 2px 8px #7FD1D866;
        outline: 0 none;
    }
    input[type=email]::placeholder,input[type=password]::placeholder{
        color: white;
        font-size: 16px;
    }
    &-forgot_psw {
        a {
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            font-family: DejaVuSans;
            margin-left: 1.2rem;
        }
    }
    input[type=submit] {
        font-family: ALKSanet;
        font-size: 14px;
        color: #7FD1D8;
        background-color: #242526;
        box-shadow: 2px 2px 8px #7FD1D866;
        padding: 5px 35px;
        float: right;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        outline: 0 none;
        margin-top: 2rem;
    }
    input[type=submit]:hover {
        color: #fff;
        background-color:#7FD1D8;
        text-decoration: none;
    }
}
.mail-error,.mail-error-used,.name-error-used,.name-error,.surename-error,.psw-error,.psw-error-match{
    display: none;
}
.global-error-style {
    font-size: 15px;
    color: #DC6C85;
    margin-left: 1.2rem;
    // margin-top: -6px;
    // float: right;
    // margin-bottom: 6px;
}
.error-style{
    font-size: 12px;
    color: #DC6C85;
    margin-left: 1.2rem;
    margin-top: -6px;
    margin-bottom: 6px;
}
.registration{
    input[type=email], input[type=text], input[type=password] {
        font-family: DejaVuSans;
        width: 100%;
        padding: 7px 20px;
        margin: 13px 0;
        display: inline-block;
        box-sizing: border-box;
        border: none;
        border-radius: 2rem;
        color: #fff;
        background-color: #242526;
        box-shadow: 2px 2px 8px #7FD1D866;
        outline: 0 none;
    }
    input[type=email]::placeholder,input[type=text]::placeholder,input[type=password]::placeholder{
        color: white;
        font-size: 16px;
    }
    input[type=submit] {
        font-family: ALKSanet;
        font-size: 14px;
        color: #7FD1D8;
        background-color: #242526;
        box-shadow: 2px 2px 8px #7FD1D866;
        padding: 5px 35px;
        float: right;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        outline: 0 none;
        margin-top: 2rem;
    }
    input[type=submit]:hover {
        color: #fff;
        background-color:#7FD1D8;
        text-decoration: none;
    }

}
@media only screen and (max-width: 767.98px){
    .web_auth-container {
        max-width: 100% !important;
    }
}


 
  
  


  

  
  