.schoolChatbot_section{
    padding: 100px 0;
    @media #{$breakpoint-md}{
        padding: 50px 0;
    }
    &-img{
        width: 100%;
        object-fit: contain;
        @media #{$breakpoint-md}{
            width: 70%;
            display: block;
            margin: auto;
        }
        &-container{
            margin-right: 20px;
            @media #{$breakpoint-md}{
                margin-right: 0;
            }
        }
    }
    &-title{
        color: $component-color1;
        font-family: $ALKSanetfont;
        font-size: 18px;
        margin-bottom: 15px;
        @media #{$breakpoint-md}{
            text-align: center;
        }
    }
    &-text{
        color: $component-color3;
        font-size: 16px;
        font-family: $DejaVuSansfont;
        margin-bottom: 15px;
        @media #{$breakpoint-md}{
            margin-bottom: 25px;
        }
        &-delete{
            color: $white;
            font-size: 16px;
            font-family: $DejaVuSansfont;
            text-align: center;
        }
    }
    &-link{
        font-size: 16px;
        color: $component-color1;
        font-family: $DejaVuSansfont;
        &-icon{
            margin-right: 10px;
        }
        &:hover{
            color: $component-color7;
            text-decoration: none;
        }
    }
    &_btn-dark{
        &-cont{
            display: flex;
            @media #{$breakpoint-md}{
                flex-direction: column;
            }
        }
        background-color: $component-color5;
        border-radius: 20px;
        box-shadow: 2px 2px 8px $component-color6;
        width: 156px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $component-color1;
        font-size: 14px;
        font-family: $ALKSanetfont;
        margin: 20px;
        transition: .3s;
        @media #{$breakpoint-md}{
            margin: 10px 0;
        }
        &:hover{
            background-color: $white;
            box-shadow: 2px 2px 8px $component-color8;
        }
    }
}