
.anima-container {
    width: 86.5vw;
    margin-left: auto;
    margin-right: auto;
}

.about-description p {
    font-size: 12px;
}

.basic-h1 h1 {
    font-size: 25px;
    line-height: 1.2;
}

.anima-shaman {
    display: block;
    width: 100%;
    left: 50%;
    /* margin-left: -30%; */
    transform: translate(-50%);
}
.anima-partners div a img {
    padding: 10%;
    justify-items: center;
    margin-left: 20%;
}

.anima-shaman h2 {
    font-size: 27px;
}

.anima-shaman p {
    font-size: 14px;
}


.anima-video-frame > svg {
    width: 100vw;
    height: 40vw;
}

.anima-partners-list img {
    width: 55px;
}


#footer div div {
     margin-left: 0px; 
}



.footer-icons {
    margin-top: 60px;
    margin-bottom: 20px;
}










.anima-pricing-banner {
    margin-bottom: 40px;
}


.anima-video-frame {
    width: 100vw;
    padding-right: 0;
}



.rounded-input {
    width: 100%;
    min-width: 200px;
}

.anima-pricing-title {
    text-align: right;
    font-size: 18px;
    font-family: "PantonMtav3";
    margin-bottom: 2.8vw;
}

.ShortDescription {
    width: 80%;
}

.pricing-placing p {
    font-size: 16px;
}

.animashaman-right .shaman-text:nth-child(odd) {
    margin-left: 0px;
}


.aboutEmply {
    width: 100%;
}

.contact-info {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    opacity: 0.9;
}

.shaman-text {
    align-self: center;
    width: 100%;
    /* margin-left: -1%!important; */
    font-size: -3px;
}

#login-page .registration-form {
    padding: 60px;
    width: 66%;
}

.about-description {
    width: 100%;

}

.partnersicon {
    margin-left: 20% !important;
    position: absolute;
    display: flex;
    display: none;
}

.partnerdelete {
    margin-left: 10% !important;
}

.partnersiconmain {
    position: relative !important;
}

.iconsAdd {
    position: relative;
}

.ShortDescription p {
    font-size: 15px !important;
}

.profile-menu-aside {
    width: 40%;
    font-size: 10px;
}

.menu-names {
    font-size: 15px;
}

.assists-info-box {
    width: 100%;
    margin: 2%;
}

.assists-info-box article {
    /* margin-left: 37px; */
    width: 144%;
    width: 100%;
    /* margin: 2%; */
    font-size: 13px;
    margin: -18px;
}

.assists-bots {
    width: 109%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: flex-start;
}
.shamanGallery:nth-child(odd) {
    margin-left: 0px!important;
}

#footer > div {
    display: flex;
    flex-wrap: wrap;
}

#footer .footer-center {
    color: white;
    display: block;
}


.anima-partners-list {
    width: 85%;
}


#footer .footer-icons a:first-of-type {
    margin-left: 0px;
}



.assists-main-info {
    position: static;
}