/* საერთო სტილები*/
body {
    background-color: #17191A;
} 
.figures img{
    display: none;
}
.profile-menu-aside{
    display: block;
}
.background-border{
    background-color: transparent;
    border: none;
    -webkit-box-align: inherit;
    padding: 0;
}
.profile-menu:nth-child(1) .profile-menu-aside ul a:nth-child(1),.profile-menu:nth-child(1) .profile-menu-aside ul a:nth-child(4),.profile-menu .profile-menu-aside ul a:nth-child(4) {
    display: none;
}
.profile-menu {
    margin-top: 104px;
}
.profile-menu-aside {
    width: 277.2px;
}
.profile-menu-aside ul a li {
    font-family: DejaVuSans;
    width: 55%;
    padding: 7px 20px;
    margin: 13px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2rem;
    color: #fff;
    background-color: #242526;
    box-shadow: 2px 2px 8px #7FD1D866;
    outline: 0 none;
    height: 36px;
}

.active-page {
    color: #fff!important;
    background-color:#7FD1D8!important;
}
.profile-menu-aside ul a li {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: ALK Sanet;
}
/* end of common style*/

.profile-bots {
    display: block;
    margin-top: 7px;
    padding: 0!important;
}
.profile-bot-main {
    align-items: flex-start;
}
.profile-bot-half:nth-child(1) {
    width: 60%;
}
.profile-bot-cube {
    background-color:#242526;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #7FD1D866;
    font-size: 25px;
    color: #425347;
    text-align: center;
    cursor: pointer;
    height: 100%;
    padding: 20px;
    width: 20%;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 25px;
}
.profile-bot-half h1 {
    font-size: 21px!important;
    margin-bottom: 20px!important;
    overflow: hidden;
    font-family: ALKSanet;
    color: #FFFFFF;
}
.profile-bot-cube {
    margin: 0;
}
.profile-bot-half .profile-bot-cube {
    width: 112px;
    height: 112px;
    align-self: inherit;
}
.profile-bot-half p, .profile-bot-half span {
    font-size: 14px;
    font-family: DejaVuSans;
}
.horizontal-line {
    padding-left: 50px;
    border-left: solid 2px #7FD1D8;
}
.dialogs-visual-editor {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 89px;
    height: 100px;
    padding: 0;
}
.visual-editor-background {
    color: #4ED3F6;
    border: none;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #7FD1D866;
    background-color: #242526;
}
.dialogs-visual-editor img {
    width: 38px;
    margin: 10px auto 8px;
}
.visual-add-fb {
    cursor: pointer;
    width: 69px;
    padding: 16px 10px;
    font-size: 12px;
    margin-top: 15px;
}
.fb-login-button {
    display: none;
}
.dialogs-visual-editor p {
    font-size: 11px;
    font-family: ALKSanet;
    margin-top: 0;
}
.profile-bots {
    width: 72%;
    padding: 0!important;
    margin-left: 15px;
}

.bot-dialog-column .stick-at-bottom .edit-delete,.edit-delete.column{
    display: none;
}
.bot-dialog-column-smaller{
    display: none;
}
.bot-dialog-column .bot-dialog-amounts{
    display: none;
}

.bot-dialog-column-smaller:nth-child(3){
    display: inherit;
}
.dialog-entry-parent {
    padding: 15px 10px 15px 25px!important;
}
.table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px 0px 25px!important;
}
.bot-dialog-name {
    color: #FFF;
    margin-top: 30px!important;
    font-size: 16px;
    font-family: ALKSanet;
}
.dialog-entry-parent{
    display: flex;
    justify-content: space-around;
    padding: 7px 20px;
    margin: 17px 0;
    border: none;
    border-radius: 2rem;
    color: #fff;
    background-color: #242526;
    box-shadow: 2px 2px 8px #7FD1D866;
    outline: 0 none;
}
.bot-dialog-entry {
    margin: 10px 0;
}
.profile-bot-searches form label{
    display: none;
}
.dialog-entry-parent .bot-dialog-column:nth-child(1) .bot-connection-tag {
    display: none;
}
.profile-bot-searches form input[type=submit]{
    position: initial!important;
    right: initial!important;
}
.profile-bot-searches form input[type=text],.profile-bot-searches form input[type=submit],.profile-bot-searches form input[type=number] {
    font-family: DejaVuSans;
    padding: 7px 20px;
    margin: 13px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2rem;
    color: #fff;
    text-align: center;
    background-color: #242526;
    box-shadow: 2px 2px 8px #7FD1D866;
    outline: 0 none;
    height: 36px;
}
.profile-bot-searches form input[type=text]::placeholder, .profile-bot-searches form textarea::placeholder,.profile-bot-searches form input[type=submit]::placeholder,.profile-bot-searches form input[type=number]::placeholder {
    color: white;
    font-size: 13px;
}
.profile-bot-searches form{
    display: flex;
    justify-content: space-between;
}
.bot-dialog-entry p {
    font-size: 16px;
    font-family: DejaVuSans;;
    width: 100%;
    color: #7FD1D8;
}
.bot-dialog-column-smaller p {
    color: white;
}   
.entry-angle-down {
    align-self: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px;
    background: url(../svg/down-arrow.svg) no-repeat;
    background-size: 90%;
}
.bot-dialog-entry img {
    display: none;
}
.entry-angle-down{
    border: solid #7FD1D8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 7px;
      transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up{
    border: solid #7FD1D8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.bot-keywords-category {
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px;
}
.stick-at-bottom {
    font-family: DejaVuSans;
    font-size: 14px;
    margin-bottom: 6px;
}
.bot-connection-tag {
    padding: 2px 6px;
    border-radius: 6px;
    font-family: DejaVuSans;
    background-color: transparent;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 0px;
}
.dialog-entry-parent .bot-dialog-column .bot-dialog-column {
    display: none;
}
.dialog-entry-parent .bot-dialog-column-smaller .bot-dialog-name {
    display: none;
}
@media only screen and (max-width: 1200.98px) {
    .profile-bot-half .profile-bot-cube {
        width: 100%;
        height: 100%;
        align-self: inherit;
    }
}
@media only screen and (max-width: 991.98px) {
    .bot-bottom-section .profile-menu-aside{
        height: initial;
    }
    .profile-menu{
        margin-top: 45px;
    }
    .profile-bot-half .profile-bot-cube {
        width: 112px;
        height: 112px;
        align-self: inherit;
    }
    section.profile-menu.anima-container{
        display: block;
    }
    .profile-menu-aside.background-border,.background-border.profile-bots{
        width: 100%;
    }
    .profile-bot-main{
        flex-wrap: wrap;
    }
    .profile-bot-half.profile-bot-left{
        margin: 30px 0 15px;
        padding-bottom: 15px;
        border-bottom: solid 2px #7FD1D8;
        width: 100%;
    }
    .horizontal-line.profile-bot-half {
        border-left: none;
        padding: 0!important;
       
    }
    .brain-drain{
        margin-left: auto;
    }
}


@media only screen and (max-width: 768.98px) { 
    .dialog-entry-parent .bot-dialog-column-smaller .bot-dialog-name {
        display: inherit;
    }
    .dialog-entry-parent .bot-dialog-column .bot-dialog-column {
        display: initial;
    }
    .table-header {
        display: none!important;
    }
    .stick-at-bottom{
        display: none;
    }
    .stick-at-bottom2 {
        margin-top: -10px;
    }
    .stick-at-bottom2{
        position: initial;
        display: initial;
    }
    .bot-dialog-column {
        width: 100%!important;
    }
    .dialog-entry-parent {
        display: block;
        width: 100%;
    }
    .bot-dialog-entry {
        width: 100%!important;
        margin: 10px 0 15px 0;
    }
    .bot-dialog-column-smaller p {
        width: 100%!important;
        color: white;
        font-size: 16px;
        font-family: ALKSanet;
        font-weight: initial;
        text-align: start!important;
        padding-bottom: 5px;
    }
    .bot-dialog-column-smaller {
        width: 100%!important;
        font-family: DejaVu Sans;
        font-size: 16px;
    }
    .bot-connection-tags {
        margin-top: 0!important;
    }
    .bot-dialog-entry {
        height: 28px!important;
    }
    .bot-connection-tag {
        padding: 2px 0;
    }
}